body{
    background-color: #A9B7C6;
}
h1{
    font-family: 'Bevan', cursive;
    color: #0f4c75;
}
h2{
    font-family: 'Bevan', cursive;
    color: #2D3A47;
    text-decoration: underline;

}
h3{
    font-family: 'Bevan', cursive;
    color: #2D3A47;
    text-decoration: underline;
}
p{
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    color: #2D3A47;
}
ul{
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-radius: 10px;
    background-color: #fdda98;
    padding: 30px;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    color: #2D3A47;
}

.Intro{
    text-align: center;
    background-color: #A8B58A;
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-radius: 10px;
}

.ContactME{
    text-align: center;
    background-color: #A8B58A;
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-radius: 10px;
}

