body{
    background-color: #A9B7C6;
    margin: 0px;
}
h1{
    font-family: 'Bevan', cursive;
    color: #0f4c75;
}
h2{
    font-family: 'Bevan', cursive;
    color: #2D3A47;
    text-decoration: underline;

}
h3{
    font-family: 'Bevan', cursive;
    color: #2D3A47;
    text-decoration: underline;
}
p{
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    color: #2D3A47;
}
main{
    margin: 20px;
}
#nav-list{ 
    
    font-family: 'Lobster Two', cursive;
    list-style-type: none;
    background-color: #878886;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    
}
.navbar a{
    color: #2D3A47;
    text-decoration: none;
    padding: 15px;
    text-align: center;

    

}
.navbar li{
    font-size: 20px;
    display: flex;
    justify-content: center;
    

    
}

.navbar a:hover{
    background-color: #A8B58A;
    border-style: solid;
    border-color: #000000;
}
#project-list{
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-radius: 10px;
    background-color: #fdda98;
    padding: 30px;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    color: #2D3A47;
}

.Intro{
    text-align: center;
    background-color: ;
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-radius: 10px;
}

.ContactME{
    text-align: center;
    background-color: #A8B58A;
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-radius: 10px;
}

